﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="Views/Login.css" media="screen" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="Nombre" />
                <input type="password" placeholder="Contraseña" />
                <input type="text" placeholder="Correo electrónico" />
                <button>create</button>
                <p class="message">Already registered? <a href="#">Iniciar sesión</a></p>
            </form>
            <form class="login-form">
                <input type="text" placeholder="Nombre" />
                <input type="password" placeholder="Contraseña" />
                <button>Login</button>
                <p class="message">¿No estás registrado? <a href="#">Crear una cuenta</a></p>
            </form>
        </div>
    </div>
</body>
</html>
